.wrapper {
    @apply text-sm flex align-middle py-2 px-3 h-11 border border-gray-300 rounded-lg relative;
    @apply placeholder:text-[#94A3B8];
    @apply min-w-40;
    @apply overflow-hidden;
}

.containerWrapper {
    @apply flex flex-col gap-1 cursor-pointer;
}
.error {
    @apply text-red-600;
}
.error > label {
    @apply text-red-600;
}
.error .wrapper {
    @apply bg-red-50 border-red-600;
}

.icon {
    @apply w-5 h-5 text-[#94A3B8];
}

.startIcon {
    @apply absolute z-10 top-3 left-3;
    /* @apply absolute w-5 h-5 z-10 top-3 left-3 text-[#94A3B8]; */
}
.endIcon {
    @apply absolute z-10 top-3 right-3;
}
.option {
    @apply p-2 cursor-pointer hover:bg-gray-100 text-sm;
}
