@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}
html,
body,
#root {
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

/* ! tailwindcss Font size change on screen size */
html {
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
        line-height: 1.6;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
        line-height: 1.7;
    }
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

/* [data-testid="right-icon"] {
  pointer-events: unset;
} */

input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none w-5 h-5 rounded-full bg-primary cursor-pointer;
}

/* width */
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.ck.ck-content li {
    margin-left: 24px;
}
.ck.ck-powered-by {
    display: none;
}
